<ul class="nav nav-tabs">
    <li class="active"><a href="" data-target="#tab1_1" data-toggle="tab">tab1_1</a></li>
    <li><a href="" data-target="#tab1_2" data-toggle="tab">tab1_2</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tab1_1">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-target="#tab1_1_1" data-toggle="tab">tab1_1_1</a></li>
            <li><a href="" data-target="#tab1_1_2" data-toggle="tab">tab1_1_2</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1_1_1">
                <div>
                </div>
            </div>
            <div class="tab-pane" id="tab1_1_2">
                <div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab1_2">
        <div>
        </div>
    </div>
</div>
